.list {
    width: 100%;

    .for-div {
        width: 100%;

        .list-item {
            width: 100%;

            .list-left {
                width: 80%;
            }

            .list-right {
                width: 20%;
            }
        }
        
    }
}