.title {
    width: 100%;
    text-align: center;
}

ion-grid {

    margin-top: 3em;
    width: 90%;
    position: absolute;
    left: 5%;

    ion-row {
        padding-top: .5em;
        padding-bottom: .5em;
        width: 100%;

        ion-col {

            ion-icon {
                color: rgb(199, 0, 0);
                font-size: 1.2em;
            }
        }
    }
}

.divider {
    width: 90%;
    position: absolute;
    left: 5%;
    background-color: darkgray;
    height: 2px;
    margin-top: 0.5em;
}

.btn-order {
    width: 90%;
}