<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="food">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>Food</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="drinks">
        <ion-icon name="beer"></ion-icon>
        <ion-label>Drinks</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="basket">
        <ion-icon name="basket"></ion-icon>
        <ion-label>Basket</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
