<ion-header>
  <ion-toolbar hideBackButton="true">
    <ion-buttons end>
      <ion-menu-button menu="first" auto-hide="false"></ion-menu-button>
      <ion-title>Select Venue</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let venue of venues">
        <ion-card [routerLink]="['/sidemenu/restaurants/', venue.venueId]" routerDirection="root">
          <ion-card-header class="card-content">
            <div class="list-left-container">
              <ion-card-title class="card-title">{{ venue.name }}</ion-card-title>
              <ion-card-subtitle class="card-subtitle">{{ venue.address }}</ion-card-subtitle>
            </div>
            <div class="list-right-container">
              <img class="list-image" src="../../../../assets/img/crokepark.jpg">
            </div>
          </ion-card-header>
        </ion-card>
    </div>
  </ion-content>
