<ion-header>
</ion-header>

<ion-content>
  <img class="login-logo" src="../../../assets/img/logo.png" alt="Ubifeed Logo">
  <form (ngSubmit)="login()">
    <div class="input-wrapper login-input-wrapper">
      <ion-input name="email" [(ngModel)]="email" class="input input-username login-input" type="email" placeholder="E-Mail"></ion-input>
      <ion-input name="password" [(ngModel)]="password" class="input input-password login-input" type="password" placeholder="Password"></ion-input>
      <ion-button class="button login-button" type="submit" expand="block">Login</ion-button>
      <p class="login-text">No account yet? <ion-text class="login-link" routerLink="/signup" routerDirection="root">Sign-up here!</ion-text></p>
    </div>
  </form>
</ion-content>
