<ion-header>
    <ion-toolbar hideBackButton="true">
      <ion-buttons end>
        <ion-menu-button menu="first" auto-hide="false"></ion-menu-button>
        <ion-title>Your Orders</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card *ngFor="let order of orders">
      <ion-card-header>
        <ion-card-subtitle>Order number: {{ order.orderId }}</ion-card-subtitle>
        <ion-card-title>Order status: {{ order.orderStatus }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Pickup Station: {{ order.pickupStation.name }} - 
        {{ order.pickupStation.locationDescription }}
      </ion-card-content>
    </ion-card>
</ion-content>