<ion-header>
  <ion-toolbar hideBackButton="true">
    <ion-buttons end>
      <ion-menu-button menu="first" auto-hide="false"></ion-menu-button>
      <ion-title>Change Profile</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="profile-form" (submit)="saveInformation()">
    <ion-input id="action" name="action" type="hidden" value="change-user"></ion-input>
    <ion-grid class="grid">
      <ion-row class="row">
        <ion-col class="col">
          <ion-input name="firstName" [(ngModel)]="firstname" class="input input-firstname profile-input" type="text" placeholder="First Name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col class="col">
        <ion-input name="lastName" [(ngModel)]="lastname" class="input input-lastname profile-input" type="text" placeholder="Last Name"></ion-input>
      </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col class="col">
        <ion-input name="phone" [(ngModel)]="phone" class="input input-phone profile-input" type="text" placeholder="Phone Number"></ion-input>
      </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col class="col">
        <ion-input name="email" [(ngModel)]="email" class="input input-email profile-input" type="email" placeholder="E-Mail"></ion-input>
      </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col class="col">
        <ion-input name="password" [(ngModel)]="password" class="input input-password profile-input" type="password" placeholder="Password"></ion-input>
      </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col class="col">
        <ion-input name="password-repeat" [(ngModel)]="passwordRepeat" class="input input-password-repeat profile-input" type="password" placeholder="Repeat Password"></ion-input>
      </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col class="col">
          <ion-button (click)="saveUser()" class="btn save-button" type="submit" expand="block">Save</ion-button>
        </ion-col>
        <ion-col class="col">
          <ion-button fill="solid" class="btn logout-button" type="button" (click)="logout()" expand="block">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
