<ion-header>
    <ion-toolbar>
      <ion-title>Select Restaurant</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list class="list">
      <div *ngFor="let restaurant of restaurants">
          <ion-item class="list-item" [routerLink]="['/sidemenu/tabmenu/food/', restaurant.restaurantId]" routerDirection="root">
              <div class="list-left">
              </div>
              <div class="list-middle">
                <ion-label class="list-title">{{ restaurant.name }}</ion-label>
                <ion-card-subtitle class="list-description">{{ restaurant.description }}</ion-card-subtitle>
              </div>
              <div class="list-right">
        
              </div>
            </ion-item>
      </div>
    </ion-list>
  </ion-content>
