h3 {
    width: 90%;
    left: 5%;
    text-align: center;
    margin-top: 2em;
}

ion-item {
    width: 80%;
    left: 10%;
    margin-top: 2em;
}

ion-button {
    position: absolute;
    width: 80%;
    left: 10%;
    margin-top: 2em;
}
