<ion-header>
  <ion-toolbar>
    <ion-title>Delivery Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Please select information</h3>
  <ion-item>
    <ion-label>Seat category</ion-label>
    <ion-select [(ngModel)]="selectedSectorId" okText="Okay" cancelText="Cancel">
      <ion-select-option *ngFor="let item of dbResult" [value]="item.seatCatId">{{ item.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button type="button" (click)="makeOrder()">Order</ion-button>
</ion-content>
